
.registerbox {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 50px auto;
  text-align: center;
}

  
.registerbox p {
  margin: 10px 0;
}

.registerbox input[type="text"],
.registerbox input[type="password"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
  
.registerbox button {
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}
  
.registerbox button:hover {
  background-color: #0056b3;
}
  
.logback {
  background-color: #6c757d;
}
  
.logback:hover {
  background-color: #5a6268;
}
  
.dialog-header {
  background-color: #007bff;
  color: #fff;
}
  
.dialog-content {
  text-align: left;
}

