body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto; 
}

.homepage {
 padding: 20px;
}

.preview-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 15px;
}

.preview-column {
  padding: 0 15px; 
}

.homepage-container {
  background-image: url("https://media.defense.gov/2021/Sep/29/2002864215/2000/2000/0/170327-F-RU983-9032.JPG");
  background-attachment: fixed; 
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  padding: 15px;
}

.homepage-content {
  text-align: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  color: white;
  width: 100%;
  margin-bottom: 20px; 
  align-items: center;
  flex-direction: column
}

.homepage-title {
  font-size: 30px;
  margin-bottom: 20px;
}

.patientbox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  flex-direction: column; 
  align-items: center;
}

.patientselectbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%; 
  text-align: left;
}

.patientselectbox h2 {
  margin-bottom: 10px;
}


.aircraftbox {
  display: flex;
  justify-content: center;
}

.aircraftselectbox {
  text-align: center;
 
}

.aircraftselectbox h2 {
  margin-bottom: 15px;
}

.patientselectbox button, .aircraftselectbox button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
 
}

.patientselectbox button:hover, .aircraftselectbox button:hover {
  background-color: #0056b3;
}

ul {
  list-style: none;
  width: 100%;
  
}

.aircraft-dropdown {
  appearance:none;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10 px 30px 10px 10px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  width: 200px;
  transition: all 0.3s ease;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='%23333' viewBox='0 0 16 16'%3E%3Cpath d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: calc(100% -10px) center;
  text-align: center;
 
}

.aircraft-dropdown:hover {
  background-color: #cdcaca;
}

@media (max-width: 768px) {
  .aircraft-dropdown {
    width: 100%;
    max-width: 200px;
  }
}