/* Container styles */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.card {
  width: 100%;
  max-width: 900px;
  box-shadow: 0px 9px 46px 8px rgba(0, 0, 0, 0.12), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 11px 15px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 20px;
}



.p-button-success {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.p-button-success:hover {
  background-color: #0056b3;
}

.edit-list {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.patient-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  /* max-height: 100%; */
}

.attendant-title {
  margin-top: 10px;
}

.attendant-edit-list {
  margin-bottom: 27px;
  align-items: center;
  justify-content: center;
}